In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
import os
os.getcwd()

'/Users/harryni/Desktop'

In [62]:
address = '/Users/harryni/Desktop/data.json'
df = pd.read_json(address, lines = True)
df

,data,included,links,meta,inProduction
0,"[{'type': 'objects', 'id': 'co8102855', 'attri...","[{'type': 'parent', 'id': 'co498352', 'attribu...",{'self': 'https://collection.sciencemuseumgrou...,"{'total_pages': 3138, 'count': {'type': {'all'...",True

In [196]:
df['data'][0][0]['links']['self']

'https://collection.sciencemuseumgroup.org.uk/objects/co8102855/packet-of-10-gold-flake-cigarettes-cigarette-packet'

In [187]:
for media in df['data'][0][0]['attributes']['multimedia']:
    print(media['processed']['large_thumbnail']['location'])

https://coimages.sciencemuseumgroup.org.uk/images/3/562/large_thumbnail_1999_0299_0001__0001_.jpg
3/563/large_thumbnail_1999_0299_0001__0002_.jpg

In [142]:
df['data'][0][0]['attributes']['multimedia'][0]['processed']['large_thumbnail']#['location']

{'format': 'jpeg',
 'location': 'https://coimages.sciencemuseumgroup.org.uk/images/3/562/large_thumbnail_1999_0299_0001__0001_.jpg',
 'location_is_relative': True,
 'measurements': {'dimensions': [{'dimension': 'height',
    'units': 'pixels',
    'value': 240},
   {'dimension': 'width', 'units': 'pixels', 'value': 361}]},
 'modified': 1472014358000,
 'resizable': True,
 'type': 'image'}

In [216]:
pic_url = {}
link = []

for i in range(len(df['data'][0])):
    json = df['data'][0][i] # json for this collection
    link.append(json['links']['self']) # store the link to collection
    pic_url[i] = []
    
    for d in json['attributes']['multimedia']:
        url = d['processed']['large_thumbnail']['location'] # url for this image
        
        if url[0] == 'h':
            pic_url[i].append(url)

In [218]:
pic_url

{0: ['https://coimages.sciencemuseumgroup.org.uk/images/3/562/large_thumbnail_1999_0299_0001__0001_.jpg'],
 1: ['https://coimages.sciencemuseumgroup.org.uk/images/241/146/large_thumbnail_1901_0006__0001_.jpg'],
 2: ['https://coimages.sciencemuseumgroup.org.uk/images/42/249/large_thumbnail_1862_0005__0001_.jpg'],
 3: ['https://coimages.sciencemuseumgroup.org.uk/images/526/793/large_thumbnail_1992_0823__0002_.jpg'],
 4: ['https://coimages.sciencemuseumgroup.org.uk/images/53/121/large_thumbnail_1878_0003__0001_.jpg'],
 5: ['https://coimages.sciencemuseumgroup.org.uk/images/52/365/large_thumbnail_2013_0137__0001_.jpg'],
 6: ['https://coimages.sciencemuseumgroup.org.uk/images/404/464/large_thumbnail_1990_5036_2828__0002_.jpg'],
 7: ['https://coimages.sciencemuseumgroup.org.uk/images/1/549/large_thumbnail_A34184.jpg'],
 8: ['https://coimages.sciencemuseumgroup.org.uk/images/3/566/large_thumbnail_1999_0299_0004.jpg'],
 9: ['https://coimages.sciencemuseumgroup.org.uk/images/46/123/large_thumbnail_1897_0046__0001_.jpg'],
 10: ['https://coimages.sciencemuseumgroup.org.uk/images/66/162/large_thumbnail_2013_0135_0001__0001_.jpg'],
 11: ['https://coimages.sciencemuseumgroup.org.uk/images/40/774/large_thumbnail_1977_0310__0007_.jpg'],
 12: ['https://coimages.sciencemuseumgroup.org.uk/images/36/761/large_thumbnail_pic_1978_7045__0001_.jpg'],
 13: ['https://coimages.sciencemuseumgroup.org.uk/images/181/511/large_thumbnail_1995_0423_0001__0001_.jpg'],
 14: ['https://coimages.sciencemuseumgroup.org.uk/images/57/63/large_thumbnail_E2005_343_2__0001_.jpg'],
 15: ['https://coimages.sciencemuseumgroup.org.uk/images/4/560/large_thumbnail_1990_0274_0002.jpg'],
 16: ['https://coimages.sciencemuseumgroup.org.uk/images/38/383/large_thumbnail_1860_0004.jpg'],
 17: ['https://coimages.sciencemuseumgroup.org.uk/images/58/942/large_thumbnail_2000_0585__0001_.jpg'],
 18: ['https://coimages.sciencemuseumgroup.org.uk/images/819/large_thumbnail_1997_0731.jpg'],
 19: ['https://coimages.sciencemuseumgroup.org.uk/images/59/957/large_thumbnail_1999_0278.jpg'],
 20: ['https://coimages.sciencemuseumgroup.org.uk/images/480/613/large_thumbnail_L2015_3560__0001_.jpg'],
 21: ['https://coimages.sciencemuseumgroup.org.uk/images/73/617/large_thumbnail_D070225.jpg'],
 22: ['https://coimages.sciencemuseumgroup.org.uk/images/67/7/large_thumbnail_1961_0094_0001__0001_.jpg'],
 23: ['https://coimages.sciencemuseumgroup.org.uk/images/1/895/large_thumbnail_a604181_0001__0001_.jpg'],
 24: ['https://coimages.sciencemuseumgroup.org.uk/images/53/462/large_thumbnail_2009_5063_0001__0001_.jpg'],
 25: ['https://coimages.sciencemuseumgroup.org.uk/images/389/266/large_thumbnail_1976_0106__0149_.jpg'],
 26: ['https://coimages.sciencemuseumgroup.org.uk/images/49/347/large_thumbnail_1949_0320__0001_.jpg'],
 27: ['https://coimages.sciencemuseumgroup.org.uk/images/17/731/large_thumbnail_2005_0726__0001_.jpg'],
 28: ['https://coimages.sciencemuseumgroup.org.uk/images/24/811/large_thumbnail_2006_0040__0001_.jpg'],
 29: ['https://coimages.sciencemuseumgroup.org.uk/images/53/13/large_thumbnail_2008_5016_0001__0001_.jpg'],
 30: ['https://coimages.sciencemuseumgroup.org.uk/images/16/180/large_thumbnail_1981_0386.jpg'],
 31: ['https://coimages.sciencemuseumgroup.org.uk/images/66/176/large_thumbnail_2013_0147_0001__0001_.jpg'],
 32: ['https://coimages.sciencemuseumgroup.org.uk/images/526/202/large_thumbnail_2008_5093_0004__0002_.jpg'],
 33: ['https://coimages.sciencemuseumgroup.org.uk/images/53/460/large_thumbnail_2008_5015_0006__0001_.jpg'],
 34: ['https://coimages.sciencemuseumgroup.org.uk/images/486/889/large_thumbnail_L2015_3409__0001_.jpg'],
 35: ['https://coimages.sciencemuseumgroup.org.uk/images/39/861/large_thumbnail_1964_0258__0003_.jpg'],
 36: ['https://coimages.sciencemuseumgroup.org.uk/images/44/338/large_thumbnail_2004_0095__0003_.jpg'],
 37: ['https://coimages.sciencemuseumgroup.org.uk/images/956/large_thumbnail_2000_0061.jpg'],
 38: ['https://coimages.sciencemuseumgroup.org.uk/images/350/761/large_thumbnail_SMG00183906.jpg'],
 39: ['https://coimages.sciencemuseumgroup.org.uk/images/2/827/large_thumbnail_A661126.jpg'],
 40: ['https://coimages.sciencemuseumgroup.org.uk/images/298/344/large_thumbnail_Y2000_0481__0002_.jpg'],
 41: ['https://coimages.sciencemuseumgroup.org.uk/images/2/423/large_thumbnail_A637236__0001_.jpg'],
 42: ['https://coimages.sciencemuseumgroup.org.uk/images/89/377/large_thumbnail_CD030147.jpg'],
 43: ['https://coimages.sciencemuseumgroup.org.uk/images/564/large_thumbnail_1987_0201_0002.jpg'],
 44: ['https://coimages.sciencemuseumgroup.org.uk/images/57/405/large_thumbnail_1862_0089__0001_.jpg'],
 45: ['https://coimages.sciencemuseumgroup.org.uk/images/21/129/large_thumbnail_1968_0180__0001_.jpg'],
 46: ['https://coimages.sciencemuseumgroup.org.uk/images/295/464/large_thumbnail_1999_0299_0006__0001_.jpg'],
 47: ['https://coimages.sciencemuseumgroup.org.uk/images/41/167/large_thumbnail_1975_0193.jpg'],
 48: ['https://coimages.sciencemuseumgroup.org.uk/images/36/752/large_thumbnail_pic_1978_7020__0001_.jpg'],
 49: ['https://coimages.sciencemuseumgroup.org.uk/images/66/42/large_thumbnail_2008_0005_0001__0001_.jpg']}

In [220]:
# pic_url = []

# for i in range(len(df['data'][0])):
#     json = df['data'][0][i] # json for this collection
#     try:
#         for d in json['attributes']['multimedia']:
#             url = d['processed']['large_thumbnail']['location']
#             if url[0] == 'h':
#                 print(url)
#                 pic_url.append(url)
#     except:
#         print('no link')

In [223]:
# HERE!
c = pd.read_json(os.getcwd() + '/collection.json', lines = True)
c

,_index,_type,_id,_score,_source
0,smg,object,co8714252,0.278207,"{'admin': {'added': 1587592879000, 'created': ..."
1,smg,object,co8413501,0.278207,"{'admin': {'added': 1494271641000, 'analytics'..."
2,smg,object,co227371,0.278207,"{'admin': {'added': 1495028055000, 'analytics'..."
3,smg,object,co8084133,0.278207,"{'admin': {'added': 1495024400000, 'analytics'..."
4,smg,object,co6308,0.278207,"{'admin': {'added': 1495039368000, 'analytics'..."
...,...,...,...,...,...
317153,smg,object,co8538881,0.257866,"{'admin': {'added': 1494272091000, 'analytics'..."
317154,smg,object,co44908,0.257866,"{'admin': {'added': 1495027770000, 'analytics'..."
317155,smg,object,co135801,0.257866,"{'admin': {'added': 1494267976000, 'analytics'..."
317156,smg,object,co8191358,0.257866,"{'admin': {'added': 1495027767000, 'analytics'..."
317157,smg,object,co8191368,0.257866,"{'admin': {'added': 1495027768000, 'analytics'..."

In [246]:
c['_source']
#c['_source'].iloc[1]['multimedia'][0]#['large_thumbnail']

0         {'admin': {'added': 1587592879000, 'created': ...
1         {'admin': {'added': 1494271641000, 'analytics'...
2         {'admin': {'added': 1495028055000, 'analytics'...
3         {'admin': {'added': 1495024400000, 'analytics'...
4         {'admin': {'added': 1495039368000, 'analytics'...
                                ...
317153    {'admin': {'added': 1494272091000, 'analytics'...
317154    {'admin': {'added': 1495027770000, 'analytics'...
317155    {'admin': {'added': 1494267976000, 'analytics'...
317156    {'admin': {'added': 1495027767000, 'analytics'...
317157    {'admin': {'added': 1495027768000, 'analytics'...
Name: _source, Length: 317158, dtype: object

In [226]:
# not finished yet
data = c['_source']
pic_url = {}
link = []

for i in range(len(data)):
    json = data[i] # json for this collection
    link.append(data['links']['self']) # store the link to collection
    pic_url[i] = []
    
    for d in json['attributes']['multimedia']:
        url = d['processed']['large_thumbnail']['location'] # url for this image
        
        if url[0] == 'h':
            pic_url[i].append(url)

0         {'admin': {'added': 1587592879000, 'created': ...
1         {'admin': {'added': 1494271641000, 'analytics'...
2         {'admin': {'added': 1495028055000, 'analytics'...
3         {'admin': {'added': 1495024400000, 'analytics'...
4         {'admin': {'added': 1495039368000, 'analytics'...
                                ...
317153    {'admin': {'added': 1494272091000, 'analytics'...
317154    {'admin': {'added': 1495027770000, 'analytics'...
317155    {'admin': {'added': 1494267976000, 'analytics'...
317156    {'admin': {'added': 1495027767000, 'analytics'...
317157    {'admin': {'added': 1495027768000, 'analytics'...
Name: _source, Length: 317158, dtype: object